*{
    background-color: rgb(0, 140, 255);
    
    color: antiquewhite;
    
    background-image: url( ../felipe2b/5318787ffe91a60723ab9eeaeada4626.jpeg  )
    background-position-x left;
    
    image-rendering: ; src="Como-fazer-um-evangelismo-criativo-usando-tecnologia-1-scaled.webpng" alt="">
                


           }

